# GIT Ignore files #
######################
.DS_Store
.git
.git/
.sql/
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json.sample
__pycache__/
lib/__pycache__/
venv/
localdev-cache/
Pipfile*
spanner_emulator/
.credentials.json
certs/
node_modules/
*.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
static/third-party/ckeditor5/node_modules/
tests/cypress_tests/**/downloads
tests/cypress_tests/**/screenshots
tests/cypress_tests/**/videos
*_ddl.sql
.env_local*
Makefile.local
schema_generator/
/jsconfig.json
docker-compose.local.yaml
.python-version
workflows/node_modules/
dist/