.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.popover {
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0px 4px 12px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 0px 4px 12px 0px rgba(50, 50, 50, 0.15);
  padding: 0;
  width: auto;
  height: auto;
  font-size: 14px;
  color: #333;
  z-index: 1000;
}

.popover-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.tippy-content {
  padding: 0;
}

.tippy-box[data-theme~='popover'] {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.tippy-box[data-theme~='popover'] .tippy-arrow {
  color: #fff;
  border: 1px solid #DBDBDB;
}

.tippy-box[data-theme~='popover'] {
  border: none !important;
  padding: none !important;
}
.super-editor-placeholder::before {
  content: attr(data-placeholder);
  color: #aaa;
  pointer-events: none;
  display: block;
  height: 0;
}

.superdoc-at-mention {
  background-color: #1355FF15;
  color: #222;
  font-weight: 400;
  border-radius: 3px;
  padding: 0 5px;
  cursor: default;
  display: inline-block;
}
.input-active {
  border: 1px solid #1355FF !important;
}

/* li,ol,ul {
  margin: 0;
  padding: 0;
} */
